body{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
nav{
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
}
.sidebar{
    font-size: 10px;
    background-color: brown;
    width: 15%;
    height: 500px;
}
.content{
    background-color: chartreuse;
    width: 85%;
    height: 500px;
    padding: 0% 5%;
}
footer{
    background-color: gray;
}